.App {
  height: 100vh;
  background-color: rgb(9, 13, 49);
  overflow: auto;
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.summary {
  text-align: center;
  color: gray;
  margin-top: 16px;
  font-size: 20px;
}

.connected-container input[type='text'] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}



.profileButton {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: -webkit-linear-gradient(left, rgb(40, 103, 178), #020349);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.walletButton {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: -webkit-linear-gradient(left, rgb(151, 93, 16), #362203);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.profiles-header {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 16px;
  font-size: 25px;
}

.profiles {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: -webkit-linear-gradient(left, rgb(40, 103, 178), #020349);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.profile-grid .profile-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
}

.profile-item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}